* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li {
  list-style: none;
}

#content {
  display: grid;
  height: 100vh;
  width: 100vw;
  min-width: 350px;
  grid-template-rows: 1fr 0.25fr 3.5fr;
  justify-content: center;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.header-picture {
  width: 100%;
}

.restaurant-logo {
  width: 60%;
  max-width: 300px;
  min-width: 280px;
  opacity: 0.75;
}

.main {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  gap: 10px;
}

.picture-home {
  width: 70vw;
  max-width: 700px;
  margin: 10px;
  /* border: 6px solid rgb(220, 176, 94);
  border-radius: 30%; */
}

.tab-text1,
.tab-text2,
.tab-text3 {
  color: white;
  font-size: 1.2rem;
}

.text {
  color: white;
  font-size: 0.9rem;
  width: 80%;
  max-width: 800px;
  text-align: center;
  align-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab1,
.tab2,
.tab3 {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 25%;
  max-width: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab1:hover,
.tab2:hover,
.tab3:hover {
 cursor: pointer;
 opacity: 0.75;
}

ion-icon {
  font-size: 2.5rem;
  color: black;
  opacity: 0.75;
}

ion-icon:hover {
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-size: 0.85rem;
  margin: 0;
  margin-left: 10vw;
}